*.o

# executables
sfml-first
rectangle
BouncingMushroom
ravioli
snake

# visual studio code configuration
.vscode/

CTestTestfile.cmake
cmake_install.cmake
Tutorial-1.0-Linux.sh
Tutorial-1.0-Linux.tar*
_CPack_Packages/
Step*_build/
debug/
release/
Testing/Temporary/
CMakeFiles/
Makefile
CMakeCache.txt
