*.o

# executables
sfml-first
rectangle
BouncingMushroom
ravioli
snake

# visual studio code configuration
.vscode/

# Visual Studio ignored files
.vs/
*.vcxproj
*.vcxproj.filters
*.sln

CTestTestfile.cmake
cmake_install.cmake
Tutorial-1.0-Linux.sh
Tutorial-1.0-Linux.tar*
_CPack_Packages/
*build/
debug/
release/
Testing/Temporary/
CMakeFiles/
Makefile
CMakeCache.txt
CMakeTutorial/TutorialConfig.h
cfirst/config.h
cfirst/tests/googletest-download/
cfirst/tests/googletest-src/
